{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-packagejson"
    ],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true
}
