{
    "$schema": "https://json.schemastore.org/semantic-release",
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "angular"
            }
        ],
        "@semantic-release/changelog",
        "@semantic-release/npm",
        "@sebbo2002/semantic-release-jsr",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "jsr.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): v${nextRelease.version}"
            }
        ],
        "@semantic-release/github"
    ]
}
