{
    "$schema": "https://json.schemastore.org/semantic-release",
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "breaking": true,
                        "release": "major"
                    },
                    {
                        "revert": true,
                        "release": "patch"
                    },
                    {
                        "type": "feat",
                        "release": "minor"
                    },
                    {
                        "type": "fix",
                        "release": "patch"
                    },
                    {
                        "type": "perf",
                        "release": "patch"
                    },
                    {
                        "type": "docs",
                        "scope": "README",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "style",
                        "release": false
                    },
                    {
                        "scope": "no-release",
                        "release": false
                    }
                ],
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES"
                    ]
                }
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        "@sebbo2002/semantic-release-jsr",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "jsr.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): v${nextRelease.version}"
            }
        ],
        "@semantic-release/github"
    ]
}
